$primary-color:         #7453c7;
$secondary-color:       #3edbb3;
$primary-color-dark:    #663fca;
$secondary-color-dark:  #1cc79c;
$white:            #fff;
$grey:             #cccccc;

$directions-breakpoints: ("top", "bottom", "left", "right");